@page "/ckedit-editor"
@using Sitko.Blazor.CKEditor
@using Sitko.Blazor.CKEditor.Bundle

<RadzenCard>
    <PdfConversion HtmlValue="@htmlValue"/>
    <CKEditor @bind-Value="@htmlValue" />
</RadzenCard>

@code {
    private string htmlValue = "<h1>Hello World!!!</h1>";
    private string pdfDataUri;
}
