@using System.Collections.Generic
@using Microsoft.AspNetCore.Components.Web

<select @onchange="OnFontSelected">
    @foreach (var font in AvailableFonts)
    {
        <option value="@font">@font</option>
    }
</select>

@code {
    public List<string> AvailableFonts { get; set; } = new List<string>
    {
        "Arial",
        "Times New Roman",
        "Verdana",
    };

    [Parameter]
    public Action<string> FontSelected { get; set; }

    private void OnFontSelected(ChangeEventArgs e)
    {
        var selectedFont = e.Value.ToString();
        FontSelected?.Invoke(selectedFont);
    }
}
