@page "/"
@using Application.Pages
<PageTitle>Home</PageTitle>

<div class="rz-p-12">
    <div class = "rz-text-align-center">
        <RadzenSelectBar @bind-Value=@selectedComponent TValue="int" class="mb-5">
            <Items>
                @foreach (var dataItem in data)
                {
                    <RadzenSelectBarItem Text="@dataItem.Name" Value="@dataItem.Id" Disabled="@(dataItem.IsDisabled)" Visible="@(dataItem.IsVisible)"  />
                }
            </Items>
        </RadzenSelectBar>
    </div>
    @if (selectedComponent == 1)
    {
        <JoditEditor/>
    }
    @if (selectedComponent == 2)
    {
        <CKEditor/>
    }
    @if (selectedComponent == 3)
    {
        <QuillEditor/>
    }
    @if (selectedComponent == 4)
    {
        <PellEditor/>
    }
    @if (selectedComponent == 98)
    {
        <RadzenEditor/>
    }
    @if (selectedComponent == 99)
    {
        <BlazoriseEditor />
    }
</div>

@code {
    int selectedComponent = 0;

    public class EditorMenuOptions
    {
        public int Id { get; set; }
        public string? Name { get; set; }
        public bool IsDisabled { get; set; } = false;
        public bool IsVisible { get; set; } = true;
    }

    IEnumerable<EditorMenuOptions> data = new EditorMenuOptions[]
    {
        new EditorMenuOptions() {
            Id = 1,
            Name = "jodit"
        },
        new EditorMenuOptions() {
            Id = 2,
            Name = "CKEditor"
        },
        new EditorMenuOptions() {
            Id = 3,
            Name = "QuillJs"
        },
        new EditorMenuOptions() {
            Id = 4,
            Name = "pell"
        },
        new EditorMenuOptions() {
            Id = 98,
            Name = "Radzen HTMLEditor",
        },
        new EditorMenuOptions() {
            Id = 99,
            Name = "Blazorise RichTextEdit",
        }
    };
}
