@page "/jodit-editor"
@inject IJSRuntime JSRuntime

<RadzenCard>
    <PdfConversion HtmlValue="@htmlValue" OnTemplateLoad="OnTemplateLoad"/>
    <textarea id="editor" name="editor"></textarea>
</RadzenCard>

@code {
    private string htmlValue = "<h1>Hello World!!!</h1>";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("registerUpdateHtmlValueFunction", DotNetObjectReference.Create(this));
            await JSRuntime.InvokeVoidAsync("JoditFunctions.createEditor");
        }
    }

    [JSInvokable]
    public void UpdateHtmlValue(string newValue)
    {
        htmlValue = newValue;
        StateHasChanged();
    }

    private void OnTemplateLoad(string htmlTemplateValue)
    {
        JSRuntime.InvokeVoidAsync("JoditFunctions.setTextValue", htmlTemplateValue);
        htmlValue = htmlTemplateValue;
        StateHasChanged();
    }
}
