@page "/radzen-editor"

@using Application.Services
@inject NavigationManager Navigation
@inject PdfService _pdfService
@inject IJSRuntime JSRuntime

<RadzenCard>
    <RadzenButton Click=@(() => DownloadAsPdf()) Text="Download PDF" />
    <RadzenHtmlEditor @bind-Value=@htmlValue UploadUrl="upload/image" />
</RadzenCard>

@code {
    private string htmlValue = "<h1>Hello World!!!</h1>";
    private string pdfDataUri;

    private async Task DownloadAsPdf()
    {
        pdfDataUri = _pdfService.GeneratePdfFromHtml(htmlValue);
        await JSRuntime.InvokeVoidAsync("eval", $"let _discard_ = open(`{pdfDataUri}`, `_blank`)");
    }
}
